/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Custom styles go below */
.cntnr {
    height: 100%;
    width: 100%;
    background-color: #242833;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;

}

.first {
    height: 100%;
    width: 40%;
    background-color: #242833;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
position: relative;
}

.first h5 {
    color: #80db66;
    font-size: xx-large;
    margin-left: 0%;
    /* margin-top: -5%; */
    font-family: "Roboto Condensed", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
}

.first h1 {
    font-size: 100px;
    margin-left: 3%;
    font-family: "Jaro", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 1400;
    font-style: normal;
    color: #ffffff;
    height: 50px;
}

.first h1::first-letter{
    font-size: 200%;
}
.seventh{
    font-size: 200%;
}

.first span:nth-child(3){
    margin-left: -5%;
}

.text{
    position: absolute;
    top: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#first-text{
    color: aliceblue;
    font-size: 50px;
}

#Second-text{
    color: aquamarine;
    overflow: hidden;
    background-color: #242833;
    position: relative;
    font-size: 50px;
    display: flex;
    align-items: center;
    /* border-left: 2px solid rgb(0, 13, 29); */
}

#Second-text::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #242833;
    border-left:2px solid aquamarine ;
    position: absolute;
    animation: type 8s steps(18) infinite  ;
    /* border-bottom: 2px solid rgb(0, 13, 29) ; */
}


@keyframes type{
    40%, 60%{
        left: 0%;
    }
    100%{
        left: 110%;
    }
}


.second {
    height: 100%;
    background-color: transparent;
    width: 60%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#btm {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #30303C;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    animation: scale;
    transition: transform .8s ease-in-out;
    animation-duration: 15s;
    animation-timing-function: linear;
    transform-origin: translate(-50%, -50%);
    animation-iteration-count: infinite;
    /* z-index: -5; */


}

#mid {
    height: 100%;
    width: 100%;
    background: url("/output.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24283377;
    background-blend-mode: multiply;
    z-index: +5;
}


@keyframes scale {
    0% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.4);
    }
}

#top {
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: +10;
    position: absolute;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    /* background-color: transparent; */
    background: url("iVBORw0KGgoAAAANSUhEUgAAATYAAAGaCAYAAACFYm88AAATEUlEQVR4nO3dCW8bOZqA4ZLvnJ2e3Qb2");
    z-index: +15;
    /* border: 2px solid red; */
    transition: transform 1.2s;
    /* pointer-events: none; */
}

.overlay img {
    position: absolute;
}

.img-1 {
    right: 8%;
    bottom: 5%;
    filter: grayscale();
}

.img-2 {
    right: 8%;
    top: 5%;
    filter: grayscale();
}

.img-3 {
    right: 4%;
    top: 7%;
    scale: .5;
    filter: grayscale();
}

.img-4 {
    left: 2%;
    bottom: 5%;
    filter: grayscale();
}

.img-5 {
    left: 48%;
    top: 5%;
    scale: .8;
    filter: grayscale();
}

.first span::selection, .first h5::selection{
    background-color: #7a7a8a;
}
.first h1::selection, .first h5::selection{
    background-color: #7a7a8a;
}