/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
/* Custom styles go below */
.main{
    height: 100vh;
    width: 100vw;
    background: url("https://4kwallpapers.com/images/wallpapers/stars-galaxy-1920x1080-10307.jpg");
    animation: space 800s linear infinite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.earth{
    height: 100px;
    width: 100px;
    background-image: url('https://pbs.twimg.com/media/DON8Y_eUMAAV4pi.jpg');
    border-radius: 50%;
    background-size: 220px;
    animation: rotate;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.text{
    /* height: 60%; */
    width: 48%;
    padding: 50px 50px;
    background-color: rgb(4, 23, 58);
    border-radius: 20px;
    position: relative;
}

.text p{
    color: #fff;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid rgb(4, 23, 58) ;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 50%;
    left: -4%;
    transform: translate(0, -50%);
  }

@keyframes space{
    0%{
        background-position: (0, 0);
    }
    100%{
        background-position: -20000px, 20000px;
    }
}

@keyframes rotate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 220px;
    }
}

@media (max-width: 800px){
    .main{
        flex-direction: column;
    }
    .earth{
        margin: 26px auto;
        height: 80px;
        width: 80px;
    }
    .arrow{
        display: none;
    }
    .text{
        width: auto;
        height: auto;
    }
}